<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google Font -->


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="app.css">

    <!-- FontAwesome Icons -->


    <title>OpenCourt</title>
</head>

<body>

    <!--N A V B A R -->
    <nav class="navbar navbar-expand-lg navbar-light">

        <!-- B R A N D -->
        <a href="" class="candyBrand navbar-brand">OpenCourt</a>

        <!-- COLLAPSE BUTTON -->
        <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
              class="fas fa-bars fa-1x"></i></span></button>

        <!-- COLLAPSIBLE CONTENT -->
        <div class="collapse navbar-collapse justify-content-space-between ">

            <!-- LINKS -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="" class="navButton btn">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="" class="navButton btn">ABOUT</a>
                </li>
            </ul>

        </div>

    </nav>





    <form action="/search" method="post">

        <div class="form-group">
            <label for="searchedTermjbjihnj"></label>
            <input id="searchedTermjbjihnj" name="searchedTerm" type="text" size="100" aria-describedby="emailHelp" placeholder="Keresett szöveg">
            <small id="searchedTermHelp" class="form-text text-muted">Szabad szöveges keresés</small>

            <input type="radio" id="teljeshatarozatban" name="hatarozatreszChoice" value="teljeshatarozatban" checked>
            <label for="teljeshatarozatban"> Teljes határozatban</label>
            <input type="radio" id="bevezetoben" name="hatarozatreszChoice" value="bevezetoben">
            <label for="bevezetoben"> Csak a bevezetoben</label>
            <input type="radio" id="rendelkezoben" name="hatarozatreszChoice" value="rendelkezoben">
            <label for="rendelkezoben"> Csak a rendelkezoben</label>
            <input type="radio" id="tenyallasban" name="hatarozatreszChoice" value="tenyallasban">
            <label for="tenyallasban"> Csak a tényállásban</label>
            <input type="radio" id="jogiindokolasban" name="hatarozatreszChoice" value="jogiindokolasban">
            <label for="jogiindokolasban"> Csak a jogi indokolásban</label>
            <input type="radio" id="zaroreszben" name="hatarozatreszChoice" value="zaroreszben">
            <label for="zaroreszben"> Csak a záró részben</label>

        </div>
        <button type="submit" class="btn btn-primary">Keresés</button>
    </form>




    <!-- R O W   1 -->
    <div class="row align-items-center">




    </div>




</body>

</html>